{% load static %}
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <a href="#intro" class="scrollto"
        ><img src="{% static 'img/logo.png' %}" alt="" title=""
      /></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="{% url "index" %}">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li class="buy-tickets"><a href="#buy-tickets">login</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
